<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dgit.department.mappers.TitleMapper">
	<resultMap type="Title" id="TitleResult">
		<id property="tcode" column="tcode"/>
		<result property="tname" column="tname"/>
	</resultMap>
	
</mapper>
