<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dgit.department.mappers.DepartmentMapper">
	<resultMap type="Department" id="DepartmentResult">
		<id property="dcode" column="dcode"/>
		<result property="dname" column="dname"/>
		<result property="floor" column="floor"/>
	</resultMap>
	
	<select id="selectAllDepartment" resultMap="DepartmentResult">
		select * from department
	</select>
	<select id="selectDepartmentWithDCode" resultMap="DepartmentResult">
		select * from department where dcode = #{dcode}
	</select>
	<insert id="insertTitle">
		insert into department values(#{dcode}, #{dname}, #{floor})
	</insert>
	<update id="updateTitle">
		update title set tname = #{tname} where tcode = #{tcode}
	</update>
	<delete id="deleteTitle">
		delete from title where tcode = #{tcode}
	</delete>
	
</mapper>
