<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dgit.department.mappers.TitleMapper">
	<resultMap type="Title" id="TitleResult">
		<id property="tcode" column="tcode"/>
		<result property="tname" column="tname"/>
	</resultMap>
	
	<select id="selectAllTitle" resultMap="TitleResult">
		select * from title
	</select>
	<select id="selectTitleWithTCode" resultMap="TitleResult">
		select * from title where tcode = #{tcode}
	</select>
	<insert id="insertTitle">
		insert into title values(#{tcode}, #{tname})
	</insert>
	<update id="updateTitle">
		update title set tname = #{tname} where tcode = #{tcode}
	</update>
	<delete id="deleteTitle">
		delete from title where tcode = #{tcode}
	</delete>
	
</mapper>
