<!-- <?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.or.dgit.bigdata.school.dto.Student" alias="Student"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/ncs_erp_lyj" />
				<property name="username" value="user_ncs" />
				<property name="password" value="user_ncs" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/dgit/department/mappers/StudentMapper.xml" />
	</mappers>
</configuration> -->
<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<!--  <typeAlias type="kr.or.dgit.bigdata.school.dto.Student" alias="Student"/> -->
		<package name="com.dgit.department.dto"/>
	</typeAliases>
	<typeHandlers>
		<package name="kr.or.dgit.bigdata.mybatis_dev.typehandler"/>
	</typeHandlers>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
<!-- 	<mapper resource="kr/or/dgit/bigdata/mybatis_dev/mappers/StudentMapper.xml" />
 -->	<package name="kr.or.dgit.bigdata.mybatis_dev.mappers"/>
	</mappers>
</configuration>

